---
import '../../styles/app.css';
import PostMetaTagList from './PostMetaTagList.astro';
import authorData from '../../data/authors.json';

const { content } = Astro.props;
const { name: authorName } = authorData[content.author];
---

<div class="flex flex-wrap justify-center items-center || space-x-4 || text-fl-300">
  <div class="flex items-center || space-x-2">
    <div class="flex items-end justify-center || w-[38px] h-[38px] || rounded-full bg-green || overflow-hidden">
      <img
        src={`/assets/images/avatars/avatar-${content.author.toLowerCase()}.png`}
        class="imgr-contrast"
        alt={authorName}
        width="36"
        height="36"
      />
    </div>
    <p class="">{authorName}</p>
  </div>
  <p aria-hidden="true">|</p>
  <time class="bg">{content.date}</time>
  <p aria-hidden="true" class="invisible sm:visible || w-full h-0 sm:w-auto sm:h-auto">|</p>
  <PostMetaTagList tags={content.tags} />
</div>
